@import url('@common/common.less');
.comp-noData {
    padding: 200rpx 0 260rpx;
    .icon {
        display: block;
        width: 80rpx;
        height: 80rpx;
        margin: 0 auto;
        background: url('@{img}icon_empty.png') no-repeat;
        background-size: cover;
    }
    .txt {
        margin-top: 24rpx;
        color: #ccc;
        font-size: 30rpx;
        text-align: center;
    }
}
